.env
*.env
config.ini
secrets.yaml

.venv/
venv/
env/
.env/

pycache/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.tox/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml

build/
dist/
*.egg-info/
*.egg
wheels/

*.sqlite3
*.db
*.db3
db.sqlite3

*.log
.log.
*.tmp
*.swp
*.swo

.vscode/
.idea/
*.sublime-project
*.sublime-workspace