# docker-compose.yml

services:
  db:
    image: postgres:15-alpine
    container_name: estoque-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${ADMIN_DEFAULT_USERNAME}
      - POSTGRES_PASSWORD=${ADMIN_DEFAULT_PASSWORD}
      - POSTGRES_DB=estoque_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${ADMIN_DEFAULT_USERNAME} -d estoque_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    container_name: estoque-app
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: estoque-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    restart: unless-stopped

volumes:
  postgres_data:

